In [4]:
import pandas as pd
from pandas import Series, DataFrame

ufo = pd.read_csv('../data-repo/ufo.csv')

In [8]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [18]:
ufo['Shape Reported']

In [20]:
# 在现有Series中创建新的一列
ufo['Location'] = ufo['City'] + ', ' +  ufo['State']