In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('../data-repo/drinks.csv')

In [6]:
# axis = 1 代表列， axis = 0 代表行
drinks.drop('country', axis=1).head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,0,0,0.0,Asia
1,89,132,54,4.9,Europe
2,25,0,14,0.7,Africa
3,245,138,312,12.4,Europe
4,217,57,45,5.9,Africa

In [12]:
# 平均值 默认axis = 0('index) 1('colums')
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64