In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame({'id': [1,2,3,4,5], 'color': ['red', 'blue', 'yellow', 'green', 'purple']}, columns=['id', 'color'], 
            index=['a', 'b','c', 'd', 'e'])

In [6]:
pd.DataFrame([[1, 'red'], [2, 'blue'], [3, 'pink']], columns=['id', 'color'])

   id color
0   1   red
1   2  blue
2   3  pink

In [7]:
import numpy as np

In [9]:
arr = np.random.rand(4, 2)

arr

array([[ 0.98383553,  0.54335275],
       [ 0.50708316,  0.2368251 ],
       [ 0.69237858,  0.11799612],
       [ 0.02570105,  0.67863727]])

In [10]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.983836  0.543353
1  0.507083  0.236825
2  0.692379  0.117996
3  0.025701  0.678637

In [13]:
pd.DataFrame({'student': np.arange(100, 110, 1), 'test': np.random.randint(60, 101, 10)})\
.set_index('student')

         test
student
100        85
101        98
102        82
103        83
104        78
105        91
106        65
107        98
108        64
109        88

In [21]:
# 创建Series
s = pd.Series(['round', 'square'], index=['b', 'c'], name='shape')
s

b     round
c    square
Name: shape, dtype: object

In [22]:
#Series 的name变为列名
pd.concat([df, s], axis=1)

   id   color   shape
a   1     red     NaN
b   2    blue   round
c   3  yellow  square
d   4   green     NaN
e   5  purple     NaN