In [2]:
import pandas as pd

In [5]:
ufo = pd.read_csv('../data-repo/ufo.csv')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo.shape

(18241, 5)

In [8]:
ufo.drop('Colors Reported', axis=1, inplace=True)

In [10]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [11]:
ufo.drop(['City', 'State'], axis=1, inplace=True)

In [18]:
# remove rows
ufo.drop([1, 10], axis=0, inplace=True)

ValueError: labels [ 1 10] not contained in axis

In [19]:
ufo.head(10)

   Shape Reported              Time
0        TRIANGLE    6/1/1930 22:00
2            OVAL   2/15/1931 14:00
3            DISK    6/1/1931 13:00
4           LIGHT   4/18/1933 19:00
5            DISK   9/15/1934 15:30
6          CIRCLE    6/15/1935 0:00
7            DISK    7/15/1936 0:00
8           CIGAR  10/15/1936 17:00
9        CYLINDER    6/15/1937 0:00
11       FIREBALL    6/1/1939 20:00